src/main/app/pfcmini2017.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <cxf:configuration name="CXF_Configuration1" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>
    <flow name="pfcmini2017Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration1" serviceClass="pfcmini2017.APIPFC" doc:name="CXF"/>
        <component class="pfcmini2017.ApiPFCImpl" doc:name="Java"/>
        <choice doc:name="Choice">
            <when expression="#[payload.request.backend==1]">
                <outbound-endpoint exchange-pattern="request-response" address="vm://products" doc:name="Products"/>
            </when>
            <when expression="#[payload.request.backend==0]">
                <outbound-endpoint address="vm://clients" doc:name="Clients"/>
            </when>
            <when expression="#[payload.request.backend==2]">
                <outbound-endpoint address="vm://sales" doc:name="Sales"/>
            </when>
            <otherwise>
                <outbound-endpoint address="vm://clients" doc:name="Generic"/>
            </otherwise>
        </choice>
    </flow>
</mule>
