target/classes/clients.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="clientsFlow">
        <inbound-endpoint exchange-pattern="request-response" address="vm://clients" doc:name="Clients"/>
        <choice doc:name="Choice">
            <when expression="#[payload.request.operation==0]">
                <component class="pfcmini2017.clients.ListClients" doc:name="ListClients"/>
            </when>
            <when expression="#[payload.request.operation=1]">
                <component doc:name="CreateClient"/>
            </when>
            <when expression="#[payload.request.operation==2]">
                <component doc:name="DeleteClient"/>
            </when>
            <otherwise>
                <component class="pfcmini2017.clients.ListClients" doc:name="Java"/>
            </otherwise>
        </choice>
    </flow>
</mule>
